<h2>Last 5 days orders</h2>
<% @orders.each do |order| %>
    <%= render 'orders/order', order: order %>
<% end %>
<h3> Select Date </h3>
<%= form_with url: admin_reports_path do |form| %>
    <p>
        <%= form.label 'From'%>
        <%= form.date_field :from_date %>
    </p>
    <p>
        <%= form.label 'To'%>
        <%= form.date_field :to_date %>
    </p>
    <%= form.submit 'Search'%>
<% end %>
<% if @selected_date_orders %>
<h3> Orders from <%= @from %> to <%= @to %></h3>
<% end %>
<% if @selected_date_orders %>
    <% @selected_date_orders.each do |order| %>
        <%= render 'orders/order', order: order %>
    <% end %>
<% end %>
