<div id="<%= dom_id product %>">
  <div class="slider">
    <% product.product_image.each do |img| %>
      <%= image_tag img, class: 'slider-img' %>
    <% end %>
  </div>
  <div class= "navigation-button">
    <span class= "dot active"></span>
    <span class= "dot"></span>
    <span class= "dot"></span>
  </div>
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Discription:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= product.image_url %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= sprintf("$%0.02f", product.price) %>
  </p>

</div>
